include mixins/time
include mixins/standard-head
include mixins/standard-footer

mixin meetingList(type, meetings, numDays)
    div.card(class='list-group-item')
        if numDays
            h2(class='card-header') #{type}
                | (last
                |
                span(class='input-group d-inline-flex w-auto')
                    input(size=3 maxlength=3 value=numDays id="numDays" name="numDays" class="text-end")
                    button(class='btn btn-sm btn-outline-primary' type='submit')
                        |
                        i(class='bi bi-arrow-clockwise fs-5')
                |
                | days)
        else
            h2(class='card-header') #{type}
        if meetings.length
            div(class='list-group list-group-numbered')
                each meeting in meetings
                    a(class='list-group-item list-group-item-action' href='meeting/' + meeting.MeetingID)
                        div(class='d-flex w-100 justify-content-between align-items-start')
                            div(class='d-flex align-items-start')
                                h4(class='link-primary') #{meeting.MeetingTitle}
                                case meeting.ParticipationCount
                                    when 0: span.badge(class='mx-2 my-1 bg-danger') Ended
                                    when 1: span.badge(class='mx-2 my-1 bg-info text-dark') 1
                                    default: span.badge(class='mx-2 my-1 bg-primary') #{meeting.ParticipationCount}
                            p.small(class='lh-1 fw-lighter') Updated:
                                +time(meeting.LastUpdatedAt)
                        if meeting.ParticipationCount
                            p(class='mb-1 lh-1') Started:
                                +time(meeting.MeetingStartTime)
                            p.small(class='lh-1 fw-lighter') Scheduled end:
                                +time(meeting.MeetingStartTime.plus(meeting.MeetingDuration))
                        else
                            p(class='mb-1 lh-1') Ended:
                                +time(meeting.LastUpdatedAt)
                            p.small(class='lh-1 fw-lighter') Started:
                                +time(meeting.MeetingStartTime)
        else
            div(class='card-body') &mdash; None &mdash;

doctype html
html
    head
        title #{page.title}
        +standardHead
    body
        h1(class='my-2 text-center') #{page.title}
        div(class='list-group-flush')
            form(method='GET')
                each meetingGroup in meetings
                    +meetingList(meetingGroup.title, meetingGroup.meetings, meetingGroup.numDays)
        +standardFooter
