include mixins/participant
include mixins/standard-head
include mixins/standard-footer
include mixins/bootstrap-stylesheet

mixin participantList(type, participants, endTime)
    div.card(class='list-group-item h-100 w-100')
        h2(class='card-header') #{type}
        if participants.length
            div(class='row row-cols-1 row-cols-md-2 row-cols-lg-4 row-cols-xl-6 g-md-1')
                each participant in participants
                    div.col
                        +participant(participant, endTime)
        else
            div(class='card-body') &mdash; None &mdash;

doctype html
html
    head
        title #{meeting.MeetingTitle}
        +standardHead
        meta(name='format-detection' content='telephone=no')
    body
        div.card(class='border-light')
            div(class='card-body')
                a(href='/' class='btn btn-outline-primary float-start ms-3 my-2') < Meetings list
                h1(class='card-title text-end') #{meeting.MeetingTitle} (#{meeting.MeetingID})
                h5(class='card-subtitle ms-3 my-md-1') Total participants: #{meeting.ParticipantCount}
                if meeting.CurrentCount
                    h5(class='card-subtitle ms-3') Started:
                        +time(meeting.MeetingStartTime)
                    case meeting.CurrentCount
                        when 1: h5(class='card-subtitle text-muted ms-3') Currently: 1 participant
                        default: h5(class='card-subtitle text-body ms-3') Currently: #{meeting.CurrentCount} participants
                    p.small(class='card-text lh-1 fw-lighter ms-3') Scheduled end:
                        +time(meeting.MeetingStartTime.plus(meeting.MeetingDuration))
                else if meeting.ParticipantCount
                    h5(class='card-subtitle text-danger ms-3') Ended:
                        +time(meeting.MeetingEndTime)
                    p.small(class='card-text lh-1 fw-lighter ms-3') Started:
                        +time(meeting.MeetingStartTime)
                else
                    h5(class='card-subtitle text-danger ms-3') There is no record of this meeting
                div(class='list-group-flush')
                    each participantGroup in participants
                        +participantList(participantGroup.title, participantGroup.participants, meeting.MeetingEndTime)
        +standardFooter
